* {
  font-family: "Roboto Slab", "Lato", sans-serif;
  font-size: 18px;
}

  @font-face {
  font-family: 'Right Strongline';
  src: url('RightStrongline-Regular.woff2') format('woff2'),
  url('RightStrongline-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  }


/* body {
  background-color: #FFFFFF;
} */


h1 {
  color: #23226C;
  font-weight: 900;
  font-size: 240%;
  text-align: center;
  font-family: 'Right Strongline', cursive;
  backgr
}







h2 {
  color: #23226C;
  font-weight: 900;
  font-size: 180%;
  font-family: 'Salsa', cursive;
}

p {
  color: #555555;
  line-height: 150%;
  text-align: justify;
}

strong {
  color: black;
}

em {
  background-color: #D2D6EF;
  font-style: normal;
}

a {
  color: #6290C3;
}


.intro,
.conclusion {
  background-color: #D2D6EF;
}

article {
  width: 50rem;
  margin: 0 auto;
}

section {
  padding: 2rem 2rem;
}

.intro {
  background-image: url(../img/fantasy-2995326_1280.jpg);
  background-attachment: scroll;
}


